.line{
    border: 1px solid black;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    color: #676767;
}


.left h4{

}
.right a{
    margin-left: 20px;
    font-size: 18px;
}